.page {
  margin: auto;
  background-color: #fcfcfc;
  position: relative;
  display: grid;
  grid-template-columns: 33% auto;
  width: 210mm;
  min-height: 297mm;
  max-height: 297mm;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.sidebar {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252/var(--tw-bg-opacity)) !important;
  width: 100%;
}